.home-container{
    background:#fafafa;
    min-height:100vh;
}


.home-layout{
    display:flex;
}



.feed{
    margin-left:260px;
    width:100%;
    max-width:650px;
    padding:30px;
}

.profile-section{
    width: 300px;
    padding: 30px 20px;
    position: sticky;
    top: 80px;
    height: fit-content;
}

@media (max-width:768px){

    .home-layout{
        flex-direction:column;
    }

    .feed{
        margin-left:0;
        max-width:100%;
        padding:15px;
        margin-bottom:80px;
    }

    .profile-section{
        display:none;
    }
}