.home-container {
    background: #fafafa;
    min-height: 100vh;
}

.home-layout {
    display: flex;
    margin-top: 70px;
}


/* Feed */

.feed {
    width: 650px;
    margin-left: 240px;
    padding: 20px;
    box-sizing: border-box;
}


/* Right Side */

.profile-section {
    width: 320px;

    margin-left: 30px;

    padding: 20px 10px;

    position: sticky;
    top: 90px;

    height: fit-content;

    box-sizing: border-box;
}


/* Responsive */

@media (max-width: 1100px) {

    .profile-section {
        width: 280px;
        margin-left: 10px;
    }

    .feed {
        width: 600px;
    }

}


/* Tablet */

@media (max-width: 900px) {

    .profile-section {
        display: none;
    }

    .feed {
        width: calc(100% - 240px);
        max-width: 650px;
    }

}


/* Mobile */

@media (max-width: 768px) {

    .home-layout {
        display: block;
    }

    .feed {
        width: 100%;
        margin-left: 0;
        padding: 15px;

        margin-bottom: 70px;
    }

}