.home-container{
    background:#fafafa;
    min-height:100vh;
}

.home-layout{
    display:flex;
    margin-top:70px;   /* Navbar ki height */
}

.feed{
    flex:1;
    margin-left:240px; /* Sidebar jitni width */
    max-width:650px;
    padding:20px;
}

.profile-section{
    width:300px;
    padding:20px;
    position:sticky;
    top:90px;
    height:fit-content;
}

@media (max-width:768px){

    .home-layout{
        flex-direction:column;
    }

    .feed{
        margin-left:0;
        max-width:100%;
        padding:15px;
        margin-bottom:80px;
    }

    .profile-section{
        display:none;
    }
}