.message {
    max-width: 250px;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 20px;
    width: fit-content;
}

.message.me {
    margin-left: auto;
    background: #0095f6;
    color: white;
}

.message.other {
    background: #efefef;
    color: black;
}