
.sidebar{
    width:240px;
    height:100vh;
    background:#fff;
    border-right:1px solid #dbdbdb;

    position:fixed;
    left:0;
    top:70px;

    padding:20px;
}

.menu-item{
    display:flex;
    align-items:center;
    gap:15px;

    padding:15px;
    margin-bottom:10px;

    text-decoration:none;
    color:#000;

    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

.menu-item:hover{
    background:#f2f2f2;
}

.menu-item svg{
    font-size:22px;
}

.menu-item.active{
    font-weight:bold;
    background:#efefef;
}

@media (max-width:768px){

    .sidebar{
        position:fixed;
        bottom:0;
        left:0;
        width:100%;
        height:65px;
        display:flex;
        justify-content:space-around;
        align-items:center;
        border-top:1px solid #ddd;
        border-right:none;
        background:#fff;
        z-index:1000;
        padding:0;
    }

    .menu-item{
        flex-direction:column;
        font-size:12px;
        gap:4px;
    }

    .menu-item div{
        font-size:11px;
    }
}