/* Sidebar */

.sidebar {
  position: fixed;

  left: 0;
  top: 0;

  width: 240px;
  height: 100vh;

  background: #fff;

  border-right: 1px solid #dbdbdb;

  padding: 25px 15px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  gap: 8px;

  z-index: 1000;
}


/* Menu Item */

.menu-item {
  display: flex;

  align-items: center;

  gap: 15px;

  width: 100%;

  padding: 12px 15px;

  box-sizing: border-box;

  border-radius: 8px;

  text-decoration: none;

  color: #262626;

  font-size: 15px;

  font-weight: 500;

  cursor: pointer;

  transition: background 0.2s;
}


/* Icons */

.menu-item svg {
  font-size: 22px;

  min-width: 22px;
}


/* Hover */

.menu-item:hover {
  background: #f2f2f2;
}


/* Active */

.menu-item.active {
  background: #f2f2f2;

  font-weight: 700;
}


/* Logout */

.sidebar .menu-item:last-child {
  margin-top: auto;
}


/* Mobile */

@media (max-width: 768px) {

  .sidebar {
    width: 70px;

    padding: 20px 10px;

    align-items: center;
  }

  .menu-item {
    justify-content: center;

    padding: 12px;

    gap: 0;
  }

  .menu-item div,
  .menu-item span {
    display: none;
  }

  .menu-item svg {
    font-size: 22px;
  }

}